body {
  margin:0;
  padding:0;
}

.parentDiv {
  
  width: 100%;
 

}

.nav {
  text-align: center;
}

ul li{
  display: inline-block;
  padding: 0 5px;
}

ul li *{
  display: inline-block;
   text-decoration: none;
  padding-left:  30px;
  padding-right:  30px;
cursor: pointer;
 
  color: black;
}
#input-search{
padding: 17px;
width: 300px;
}
