#nav-icon1 {
  z-index: 9999;
  width: 40px;
  height: 45px;
  position: absolute;
  top: 2rem;
  right: 1rem;
  margin: 1em;
  overflow: hidden; }

#nav-icon1:hover {
  cursor: pointer; }

#nav-icon1 span {
  width: 100%;
  height: 5px;
  position: absolute;
  background: #ed6c75;
  border-radius: 0px;
  opacity: 1;
  transition: all 0.7s ease;
  display: inline-block; }

#nav-icon1 span:nth-child(1) {
  top: 0px;
  width: 70%;
  transform: translateX(0px); }

#nav-icon1 span:nth-child(2) {
  top: 18px;
  transform: rotate(0deg); }

#nav-icon1 span:nth-child(3) {
  top: 36px;
  width: 70%;
  right: 0;
  transform: translateX(0px); }

#nav-icon1 span:nth-child(4) {
  top: 18px;
  transform: rotate(0deg);
  opacity: 0; }

#nav-icon1.open span:nth-child(1) {
  right: 0;
  transform: translateX(100px);
  background: white; }

#nav-icon1.open span:nth-child(2) {
  transform: rotate(45deg);
  width: 89%;
  background: white; }

#nav-icon1.open span:nth-child(3) {
  left: 0;
  transform: translateX(-100px);
  background: white; }

#nav-icon1.open span:nth-child(4) {
  transform: rotate(-45deg);
  width: 89%;
  opacity: 1;
  background: white; }

#nav-icon1 {
  display: none; }

.logo {
  padding: 8px;
  padding-left: 0px;
  display: flex;
  justify-content: center;
  align-items: center; }

.logo a {
  color: #323F4B;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
  padding-left: 10px; }

.logo a span {
  color: #fe7544; }

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Jost';
  padding-top: 1rem;
  width: 1250px;
  max-width: 100%;
  margin: 0 auto; }

header nav li {
  display: inline; }

.menu_item.first {
  padding-left: 0; }

header nav li a {
  text-decoration: none;
  padding-left: 48px;
  color: #616e7c;
  text-decoration: none;
  font-size: 18px; }

.nav_ul {
  padding-left: 0; }

.nav_social {
  display: flex;
  align-items: center; }

.social-img {
  color: #52606D;
  margin-left: 32px;
  transition: all .3s ease-in;
  display: block;
  transform: scale(1.1); }

.social-img.trigger-enter {
  transform: scale(1.3); }

.social-img.trigger-enter-active {
  color: #ed6c75;
  opacity: 1 !important; }

.nav_menu.open_menu {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ff4754;
  width: 100vw;
  height: 100vh;
  top: 0;
  overflow: hidden;
  z-index: 999; }

.nav_menu.open_menu li {
  display: block;
  padding-top: 1rem;
  text-align: center;
  font-size: 24px; }

.nav_menu.open_menu li a {
  color: white;
  transform: translateX(300%);
  display: block;
  transition: all .3s ease-in-out; }

.anotherclass {
  transform: translateX(0%) !important;
  padding-left: 0; }

@media only screen and (max-width: 970px) {
  nav {
    display: none; }

  .nav_social {
    display: none; }

  #nav-icon1 {
    display: block; }

  header {
    display: block;
    margin-top: 16px !important; }

  .logo {
    justify-content: flex-start;
    padding-left: 15px; } }
.popup.mystyle {
  display: flex; }

.pop-up-window {
  text-align: center; }

.popup {
  height: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center; }

.popup img {
  margin-bottom: 12px; }

.popup h2 {
  font-size: 60px;
  line-height: 56px;
  margin: 12px auto;
  color: #1F2933; }

.popup p {
  font-size: 22px;
  line-height: 32px;
  color: #616e7c;
  margin: 0 auto;
  width: 550px;
  max-width: 90%; }

.popup button {
  margin-top: 32px; }

.popup button:hover {
  opacity: 1; }

.popsite {
  display: none; }

@media only screen and (min-width: 850px) {
  .popsite {
    z-index: 9999;
    display: block;
    width: 460px;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: white;
    padding: 12px 24px;
    border-radius: 15px;
    box-shadow: 0 15px 35px #616e7c;
    transform: translateY(200%);
    transition: all .9s ease-in-out; }

  .popsite img {
    width: 200px; }

  .popsite p {
    font-size: 18px;
    line-height: 25px;
    margin: 0;
    color: #616e7c;
    margin-top: 4px; }

  .x {
    position: absolute;
    right: 1rem;
    top: 0;
    font-size: 26px;
    cursor: pointer; }

  .popsite h3 {
    font-size: 24px;
    line-height: 32px;
    margin-top: 12px; }

  .popsite button {
    margin-top: 12px;
    font-size: 16px;
    background-color: #4aedad !important;
    background-image: none;
    color: #222;
    margin-bottom: 12px;
    border-radius: 5px; }

  .popsite.active {
    transform: translateY(0%); }

  .popsite.end {
    display: none; } }
/********************************
Footer New
********************************/
footer {
  margin-top: 192px;
  background-image: linear-gradient(-131deg, #FCDFE7 0%, #FFE4C7 100%); }

footer a {
  color: #944f38; }

footer strong {
  color: #1F2933; }

.footer_top {
  position: relative;
  padding: 64px 16px;
  text-align: center; }

.footer_top button {
  margin: 0;
  background-image: none;
  background-color: #fff;
  color: #1f2933;
  font-size: 14.4px;
  letter-spacing: 1.35px;
  text-transform: uppercase;
  box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.3);
  cursor: pointer; }

.footer_top {
  color: #1f2933;
  line-height: 28px; }

.upside_wrapper p {
  width: 700px;
  max-width: 90%;
  margin: 24px auto; }

.footer_down {
  padding: 0px 0;
  width: 920px;
  margin: 0 auto;
  max-width: 90%; }

.downside-right ul {
  line-height: 32px; }

.footer_down ul {
  padding-left: 0;
  list-style: none; }

.undertag {
  color: #616e7c; }

.information {
  text-align: center;
  border-top: 1px solid #e4e7ea; }

.social {
  padding: 16px 0;
  display: flex;
  justify-content: center;
  align-items: center; }

#shapef2 {
  border-radius: 50%;
  box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.3);
  margin-top: -11rem; }

.information p {
  font-size: 16px;
  color: #555555; }

.social-img-footer {
  width: 26px;
  color: #de8b5e;
  display: block;
  margin: 8px; }

.social-img-footer:hover {
  opacity: .3; }

@media only screen and (min-width: 850px) {
  .downside_links {
    display: flex;
    justify-content: space-between;
    line-height: 32px;
    width: 550px;
    max-width: 90%;
    margin: 0 auto; }

  .downside_links a {
    color: #555;
    font-size: 16px; } }
.blank_wrapper {
  max-width: 90%;
  margin: 96px auto;
  position: relative; }

.blank_wrapper button {
  margin: 48px auto; }

#blank .blank_wrapper h1 {
  font-size: 48px;
  line-height: 55px;
  margin-bottom: 16px;
  margin-top: 16px;
  color: #1F2933; }

#blank .blank_wrapper p {
  margin: 0;
  font-size: 20px;
  line-height: 32px;
  color: #3e4c59; }

@media only screen and (min-width: 850px) {
  #blank .blank_wrapper {
    text-align: center;
    width: 600px; }

  #blank .blank_wrapper h1 {
    font-size: 72px;
    line-height: 78px;
    margin-bottom: 12px; }

  #blank .blank_wrapper p {
    max-width: 100%;
    margin: 0 auto; } }
.text_wrapper h2 {
  margin-top: 64px;
  color: #323f4b; }

.text_wrapper {
  max-width: 90%;
  margin: 64px auto; }

.text_wrapper p {
  color: #3e4c59; }

@media only screen and (min-width: 850px) {
  .text_wrapper {
    max-width: 90%;
    margin: 64px auto;
    width: 650px; }

  .text_wrapper button {
    margin-top: 0;
    width: 100%; }

  .text_wrapper a {
    color: #ff4e17; }

  .text_wrapper p {
    margin-top: 32px;
    font-size: 20px;
    line-height: 32px; }

  .text_wrapper h2 {
    line-height: 64px; } }
.feature {
  padding: 32px 0; }

.feature a {
  color: #fc773e;
  text-decoration: underline; }

.feature_text p {
  margin-bottom: 36px; }

.footers_titles {
  text-align: center; }

.feature_link {
  font-weight: 400;
  font-size: 24px;
  line-height: 22px;
  font-weight: 500;
  outline: none; }

.feature_link:hover {
  opacity: .5;
  transition: all .2s ease-in; }

.feature_img {
  margin-top: 50px; }

@media only screen and (min-width: 850px) {
  .feature_img {
    margin-top: 0px;
    align-self: center; }

  .feature {
    display: grid;
    grid-template-columns: 1fr .5fr 1fr;
    position: relative;
    margin: 96px auto; }

  .feature:after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 2px dotted #212933;
    transform: translate(-50%);
    opacity: .2;
    margin: 10px 0; }

  .feature h3 {
    margin-top: 0px; }

  .feature_text p {
    font-size: 20px;
    line-height: 32px;
    color: #616e7c; }

  .feature_number,
  .feature > img {
    align-self: center;
    justify-self: center; }

  .feature_text {
    order: -1; }

  .feature_img img {
    width: 100%; }

  .feature.reverse .feature_text {
    order: 1; }

  .feature.reverse .feature_number {
    order: 1; } }
.posts {
  display: block;
  grid-template-columns: 1fr;
  list-style: none;
  margin: 0 auto;
  padding-left: 0;
  max-width: 90%; }

.posts button {
  margin-top: 0; }

.updated {
  color: #fb6e5a; }

.excerpt {
  margin: 96px auto; }

.excerpt_image {
  background-image: url(/assets/blog/pattern_05.svg);
  background-color: #f9fdfa;
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center; }

.excerpt_image img {
  max-height: 100%; }

.shadowed {
  box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.3);
  border: 5px solid #ddd;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.tags {
  font-size: 14px;
  display: flex;
  color: #616e7c;
  margin-top: 12px; }

.tags img {
  padding-left: 12px;
  padding-right: 12px; }

.excerpt_title {
  font-size: 36px;
  line-height: 48px;
  margin: 12px auto;
  color: #1F2933;
  margin-bottom: 0; }

.post_excerpt {
  margin-top: 5px;
  margin-bottom: 24px;
  line-height: 28px;
  color: #616e7c; }

.post-image img {
  width: 150px;
  height: 120px; }

.post-image {
  background-image: url(/assets/blog/pattern_05.svg);
  background-color: #f9fdfa;
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center; }

.excerpt a {
  text-decoration: none; }

@media only screen and (min-width: 1290px) {
  .excerpt {
    margin: 24px auto;
    position: relative; }

  .posts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 64px;
    width: 1150px;
    max-width: 90%;
    border-top: 1px solid #e2e2e2;
    padding-top: 48px; }

  .tags {
    align-items: center;
    justify-content: flex-start;
    font-size: 16px;
    padding-top: 16px; } }
#blank_blog .blank_wrapper {
  max-width: 90%;
  margin: 96px auto;
  position: relative;
  text-align: center; }

#blank_blog .blank_wrapper button {
  margin: 48px auto; }

#blank_blog .blank_wrapper h1 {
  font-size: 48px;
  line-height: 55px;
  margin-bottom: 16px;
  margin-top: 16px;
  color: #1F2933; }

#blank_blog .blank_wrapper p {
  margin: 0 auto;
  font-size: 20px;
  line-height: 32px;
  color: #3e4c59;
  width: 550px;
  max-width: 90%; }

.blank_wrapper iframe {
  margin: 32px auto; }

@media only screen and (min-width: 1290px) {
  #blank_blog .blank_wrapper {
    text-align: left;
    width: 1380px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 48px; }

  .blog_title {
    padding-right: 96px; }

  #blank_blog .blank_wrapper h1 {
    font-size: 60px;
    line-height: 78px;
    margin-bottom: 12px; }

  #blank_blog .blank_wrapper p {
    font-size: 16px;
    line-height: 26px;
    width: unset;
    max-width: 100%; }

  .blank_wrapper iframe {
    border-radius: 5px;
    border: 5px solid white;
    box-shadow: 0 15px 35px rgba(255, 0, 0, 0.3); } }
#breadcrumbs {
  text-align: center;
  color: #616e7c; }

#markdown-toc {
  border: 1px solid #cbd2da;
  border-radius: 2px;
  padding: 24px 12px;
  max-width: 80%;
  list-style: decimal;
  padding-left: 32px; }

#markdown-toc a {
  color: #3e4c59;
  font-size: 18px;
  line-height: 30px; }

#article_rectangle {
  position: absolute;
  z-index: -999;
  width: 100%; }

.post-content {
  max-width: 90%;
  margin: 64px auto; }

.post-content ul {
  padding-left: 0;
  list-style: none; }

.article_category {
  display: block;
  text-align: center;
  font-size: 16px;
  color: #FF773C;
  font-weight: 500; }

.article h1 {
  text-align: center;
  margin: 24px auto;
  max-width: 850px;
  margin-top: 4px; }

.article h2 {
  padding-top: 32px;
  border-top: 1px solid #ccd2da;
  margin-top: 48px;
  font-size: 45px;
  text-align: left;
  line-height: 58px; }

article {
  width: 550px;
  max-width: 90%; }

article a {
  color: #ff4e17;
  transition: all .2s ease-in-out; }

article a:hover {
  opacity: .5; }

@media only screen and (min-width: 1289px) {
  article {
    width: unset;
    max-width: unset; } }
.article ul {
  line-height: 32px;
  list-style: disc;
  font-size: 18px;
  color: #3d4852; }

.article button {
  width: 100%;
  margin: 0; }

.meta {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px; }

.meta img {
  padding-left: 12px;
  padding-right: 12px; }

.author_link {
  text-decoration: none;
  transition: all .2s ease-in-out; }

.author_link:hover {
  opacity: .5; }

.post_image {
  text-align: center;
  margin: 32px auto; }

.post_image img {
  height: 150px;
  object-fit: contain; }

.article {
  padding-top: 64px; }

@media only screen and (min-width: 850px) {
  .design_tip {
    max-width: unset;
    margin-left: -150px;
    border: 1px solid #e0e0e0;
    margin-top: 12px;
    margin-bottom: 12px; }

  .article p {
    font-size: 20px;
    line-height: 34px; }

  .article h3 {
    font-size: 30px;
    line-height: 48px;
    text-align: left;
    margin-top: 32px; }

  #markdown-toc {
    max-width: 50%; }

  #table-of-content {
    text-align: left; }

  .post-content {
    width: 650px; } }
.tablescroll {
  overflow-x: auto; }

table, thead, tbody, td, tr {
  display: block; }

thead tr {
  position: absolute;
  top: -9999px;
  left: -9999px; }

table {
  border-collapse: collapse; }

thead tr {
  background-color: #e8f7ee;
  color: #333; }

tr:nth-child(even) {
  background-color: #eee; }

th, td {
  padding: 1rem; }

td::before {
  white-space: nowrap;
  font-weight: bold; }

td:nth-of-type(1)::before {
  content: 'Description: '; }

td:nth-of-type(2)::before {
  content: 'Keywords per day: '; }

td:nth-of-type(3)::before {
  content: 'Valid: '; }

td:nth-of-type(4)::before {
  content: 'Price: '; }

td:nth-of-type(5)::before {
  content: ''; }

caption {
  display: block; }

@media (min-width: 600px) {
  caption {
    display: table-caption;
    margin: .5rem auto;
    font-size: 1.5rem; }

  thead tr {
    position: static; }

  thead, tbody {
    display: table-row-group; }

  th, td {
    display: table-cell;
    text-align: left; }

  tr {
    display: table-row; }

  table {
    display: table;
    width: 100%;
    margin: 1rem auto; }

  td:nth-of-type(n)::before,
  td:nth-of-type(n)::after {
    content: ""; } }
.premium_h2 {
  text-align: center;
  padding-bottom: 28px; }

.store_image {
  position: relative;
  padding-top: 32px; }

#store_illustration {
  position: absolute;
  right: -11px;
  top: 31px;
  z-index: 90;
  transform: translateX(300%);
  opacity: 0;
  transition: all .6s ease-in-out;
  width: 200px; }

#store_illustration.open {
  opacity: 1;
  transform: translateX(0); }

.wrapper_store {
  width: 950px;
  max-width: 90%;
  margin: 48px auto;
  text-align: center;
  transform: scale(0.98);
  transition: transform 0.5s; }

.wrapper_store.scrolling {
  transform: scale(1); }

.wrapper_store h1 {
  margin: 18px;
  font-size: 38px;
  line-height: 46px; }

#store span,
.allstores span {
  color: #fb676e;
  font-weight: 500;
  letter-spacing: -0.02em; }

.wrapper_store p {
  font-size: 20px;
  line-height: 32px;
  color: #243B53;
  margin: 0;
  width: 451px;
  margin: 0 auto;
  max-width: 90%; }

.allstores {
  width: 1350px;
  margin: 0 auto;
  max-width: 90%;
  text-align: center; }

.allstores h2 {
  text-align: center;
  margin: 32px auto; }

.allstores p {
  text-align: center;
  font-size: 20px;
  line-height: 20px;
  color: #243B53; }

.icons.store {
  margin: 28px auto; }

#hatchet {
  width: 105px;
  position: absolute;
  right: -42px;
  top: 200px; }

#flower {
  width: 105px;
  position: absolute;
  left: -42px;
  top: 110px;
  z-index: -1; }

.store_img img {
  margin: 28px auto;
  width: 200px; }

.wrapper_store_text {
  width: 550px;
  margin: 0 auto;
  max-width: 90%; }

.wrapper_store_text p {
  font-size: 20px;
  line-height: 32px;
  color: #243B53;
  text-align: left; }

.wrapper_store_text h2 {
  line-height: 62px;
  text-align: left; }

@media only screen and (min-width: 850px) {
  .wrapper_store h1 {
    font-size: 98px;
    line-height: 112px;
    margin-top: 96px;
    margin-bottom: 24px; }

  #store_illustration {
    right: 111px;
    top: 54px;
    width: 400px; }

  .allstores p,
  .wrapper_store p {
    font-size: 20px; }

  #hatchet {
    width: 155px; }

  #flower {
    top: 401px; } }
@font-face {
  font-family: 'RecoletaAlt-SemiBold';
  src: url("assets/fonts/Recoleta-SemiBold.ttf") format("truetype"), url("assets/fonts/RecoletaAlt-SemiBold.woff2") format("woff2"), url("assets/fonts/RecoletaAlt-SemiBold.woff") format("woff");
  font-style: normal; }
@font-face {
  font-family: Jost;
  src: url("/assets/fonts/Jost-Regular.ttf");
  font-weight: 500; }
@font-face {
  font-family: Jost;
  src: url("/assets/fonts/Jost-Italic.ttf");
  font-style: italic; }
@font-face {
  font-family: Jost;
  src: url("/assets/fonts/Jost-Medium.ttf");
  font-weight: 600; }
@font-face {
  font-family: Jost;
  src: url("/assets/fonts/Jost-SemiBold.ttf");
  font-weight: 700; }
.pop_mobile {
  position: fixed;
  bottom: -360px;
  left: 0;
  right: 0;
  background-image: linear-gradient(-131deg, #F9637C 0%, #FF7933 100%);
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  z-index: 999;
  padding: 1em 1.5em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 1px -20px 35px 0 rgba(24, 24, 24, 0.2);
  padding: 10px 15px 5px 15px; }
  .pop_mobile h3 {
    font-weight: 700;
    color: white;
    margin: 5px 0px; }
  .pop_mobile p {
    margin-top: 0;
    font-size: 16px;
    color: white;
    margin-bottom: 0;
    line-height: 25px;
    max-width: 100%;
    font-weight: 400; }

.pop_mobile.open {
  bottom: 0; }

.pop_mobile_buttons button {
  margin: 1em;
  border: 1px solid white; }

#no_button_mobile {
  opacity: 50% !important;
  background-color: transparent !important; }

@media only screen and (min-width: 650px) {
  .pop_mobile {
    display: none; } }
.store_open {
  opacity: 0;
  transition: all .5s ease-in; }

.store_open.open {
  opacity: 1; }

.premium_open {
  opacity: 0;
  transition: all 1s ease-in; }

.premium_open.open {
  opacity: 1; }

#catlogo {
  animation: zoom-fade 2.5s cubic-bezier(0.26, 0.54, 0.32, 1) 0s forwards; }

@keyframes zoom-fade {
  0% {
    opacity: 0;
    transform: scale(1.3, 1.3); }
  100% {
    opacity: 1;
    transform: scale(1, 1); } }
@keyframes whatup {
  0% {
    opacity: 0;
    transform: translateY(160px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }
.gallery_wrapper {
  width: 1100px;
  max-width: 90%;
  margin: 0 auto; }

.work-item_img {
  display: block;
  object-fit: cover;
  height: 400px; }

.work-item {
  background-color: white;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  margin: 2px;
  border-radius: 4px;
  margin-top: 32px; }

.work-item:hover .work-item_img {
  transition: all .5s ease; }

.work-item:hover .desc_lukasz {
  transform: translateY(0);
  transition: all .5s ease; }

.work-container {
  display: block; }

.desc_lukasz {
  position: absolute;
  color: white;
  bottom: 0;
  left: 0;
  right: 0;
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transform: translateY(100%);
  background-image: linear-gradient(#ffffff00, #38353594);
  padding-bottom: 15px;
  font-size: 18px;
  font-weight: 500; }

@media only screen and (min-width: 850px) {
  .work-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px; }

  .work-item {
    margin: 0; }

  .work-item_img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover; } }
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Jost';
  border-top: 5px solid #e17078;
  overflow-x: hidden; }

img {
  max-width: 100%; }

.wrapper {
  max-width: 90%;
  margin: 64px auto;
  width: 1250px; }

h1 {
  line-height: 44px;
  color: #1F2933;
  font-family: 'RecoletaAlt-SemiBold'; }

h2 {
  font-size: 30px;
  color: #1F2933;
  margin: 0;
  font-family: 'RecoletaAlt-SemiBold'; }

h3 {
  font-size: 24px;
  color: #1F2933;
  font-weight: 600;
  font-family: 'RecoletaAlt-SemiBold'; }

p {
  font-size: 18px;
  line-height: 30px;
  color: #1F2933; }

span {
  color: #1F2933; }

strong {
  color: #ff4e17; }

iframe {
  max-width: 100%; }

#shape_top {
  display: none; }

#shape_top_2 {
  display: none; }

button {
  font-family: 'Jost';
  cursor: pointer;
  user-select: none;
  margin-top: 48px;
  border: none;
  border-radius: 5px;
  background-image: linear-gradient(-131deg, #0eb4ce 0%, #0eb4ce 100%);
  color: #fff;
  height: 50px;
  padding: 12px 43px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  box-shadow: 0 15px 35px #e3f8ee;
  border: none;
  outline: none;
  transition: all .2s ease-in; }

button:hover {
  opacity: .5; }

input[type='text'], input[type='password'], input[type='date'], input[type='month'], input[type='week'], input[type='email'], input[type='number'], input[type='search'], input[type='tel'], input[type='time'], input[type='url'], input[type='color'], input[type='datetime'], input[type='datetime-local'], select, textarea {
  width: 90%;
  display: block;
  padding: 16px;
  margin-bottom: 16px;
  border: 1px solid #DFE3E9;
  border-radius: 0;
  outline: none;
  line-height: initial;
  background-color: #fff;
  font-size: 16px;
  font-family: "Jost*",Helvetica,Arial,sans-serif;
  transition: 500ms; }

@media only screen and (min-width: 850px) {
  body {
    padding: 0rem;
    border-top: none; }

  h2 {
    font-size: 48px;
    line-height: 56px;
    margin: 0;
    color: #1F2933;
    font-family: 'RecoletaAlt-SemiBold'; }

  h3 {
    font-size: 36px;
    line-height: 44px;
    margin: 0;
    color: #1F2933;
    margin-top: 32px;
    font-family: 'RecoletaAlt-SemiBold'; }

  p {
    font-size: 18px;
    line-height: 30px; }

  h1 {
    font-size: 72px;
    line-height: 78px;
    font-family: 'RecoletaAlt-SemiBold'; }

  .price_special {
    text-decoration: line-through; }

  #shape_top {
    display: block;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto; }

  #shape_top_2 {
    display: block;
    position: absolute;
    z-index: -99;
    top: 0;
    width: 90%; } }
.wrapper_home {
  width: 650px;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 48px; }

.wrapper_home ul {
  list-style: none;
  font-size: 21px;
  line-height: 35px;
  padding-left: 0;
  color: #616e7c; }

.wrapper_home h2 {
  font-size: 48px;
  line-height: 64px;
  margin-top: 48px; }

.wrapper_home p {
  font-size: 21px;
  line-height: 35px; }

blockquote {
  color: #616e7c;
  font-size: 18px; }

.fa-check {
  margin-right: 12px;
  color: #ffc10f;
  font-size: 20px; }

#hero {
  background-color: #fef3de;
  padding: 96px 0;
  position: relative; }

#bg1 {
  position: absolute;
  bottom: -11px;
  left: 0;
  z-index: 9;
  width: 100%; }

#bg2 {
  position: absolute;
  left: 7%;
  width: 30%;
  bottom: 52%;
  z-index: -1; }

#bg3 {
  position: absolute;
  right: 0%;
  width: 37%;
  bottom: -2px;
  z-index: 8; }

#bg4 {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
  /* Need a specific value to work */
  top: 30px; }

#bg5 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
  /* Need a specific value to work */
  top: 30px;
  z-index: 0; }

#bg6 {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  bottom: -14px;
  animation: updown 2.5s ease-in infinite; }

@keyframes updown {
  0% {
    transform: translateY(0%); }
  25% {
    transform: translateY(-3%); }
  50% {
    transform: translateY(-5%); }
  75% {
    transform: translateY(-3%); }
  100% {
    transform: translateY(0%); } }
@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(10deg); }
  50% {
    transform: rotate(19deg); }
  75% {
    transform: rotate(10deg); }
  100% {
    transform: rotate(0deg); } }
#bg_robot {
  position: absolute;
  width: 60px;
  left: 10%;
  bottom: 110%;
  z-index: -1; }

#test {
  position: absolute;
  left: 0; }

#bg_rocket {
  position: absolute;
  width: 100px;
  left: 16%;
  bottom: 62%;
  z-index: 1; }

#hero .hero_wrapper h1 {
  z-index: 12;
  position: relative;
  font-size: 48px;
  line-height: 55px;
  margin-bottom: 16px;
  margin-top: 16px;
  color: #1F2933;
  animation: zoom-fade 1.5s cubic-bezier(0.26, 0.54, 0.32, 1) 0s forwards; }

#hero .hero_wrapper p {
  z-index: 12;
  position: relative;
  margin: 0;
  font-size: 22px;
  line-height: 32px;
  color: #292e33; }

.hero_wrapper {
  width: 90%;
  margin: 0 auto; }

.hero_wrapper button {
  background-color: #fff;
  background-image: none;
  color: #202b35;
  box-shadow: none;
  text-transform: uppercase;
  box-shadow: 0px 70px 40px -50px rgba(0, 0, 0, 0.2), 0px 3px 20px rgba(0, 0, 0, 0.1);
  margin-top: 24px;
  padding: 12px 56px;
  z-index: 12;
  position: relative;
  color: #1f2933;
  font-size: 14.4px;
  letter-spacing: 1.35px;
  text-transform: uppercase; }

@media only screen and (min-width: 850px) {
  #bg6 {
    bottom: -2px;
    left: 305px; }

  #bg3 {
    bottom: 0%; }

  #hero .hero_wrapper {
    text-align: center;
    margin: 94px auto;
    margin-top: 0; }

  #hero .hero_wrapper h1 {
    margin-bottom: 32px;
    font-size: 72px;
    line-height: 78px; }

  #hero .hero_wrapper p {
    width: 600px;
    max-width: 100%;
    margin: 0 auto; } }
#intro {
  margin: 32px auto;
  position: relative; }

#h2_background {
  position: absolute;
  z-index: -99;
  top: -42px;
  left: 0; }

#intro .wrapper h2 {
  margin-top: 4px; }

@media only screen and (min-width: 850px) {
  #intro {
    text-align: center;
    margin: 94px auto;
    margin-top: 166px; }

  #h2_background {
    left: unset; } }
.illustrations {
  width: 1350px;
  max-width: 90%;
  margin: 0 auto; }

.illustrations_wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px; }

.icons {
  padding: 2em;
  text-align: center;
  border: 1px solid #CEDDEC;
  border-radius: 5px;
  display: block; }

.icons h3 {
  padding-bottom: 24px; }

.icons a {
  text-decoration: none;
  color: #1F2933; }

.download {
  border: 1px solid #CEDDEC;
  border-radius: 5px;
  padding: .5em 1em;
  font-size: 16px;
  text-align: center;
  transition: all 1s ease;
  margin-top: 24px; }

.download a {
  color: #1f2933;
  text-decoration: none;
  transition: all 1s ease;
  padding-left: 0px; }

@media only screen and (min-width: 850px) {
  .icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column; }

  .icons h3 {
    font-size: 20px;
    font-weight: 400;
    margin-top: 0px; }

  .illustrations_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px; } }
.icons.center {
  padding: 3em;
  justify-content: center; }

.backtoillustrations {
  color: #fc7357;
  padding-bottom: 4px;
  margin-bottom: 4px;
  display: block;
  text-decoration: none; }

.fa-arrow-left {
  color: #fc7357;
  opacity: .5; }

.categorie_illustrations {
  color: #de9c5b;
  background-color: #fcf8f3;
  font-size: 16px;
  padding: 8px 20px;
  border-radius: 2px;
  margin: .5rem 0;
  display: inline-block;
  letter-spacing: 0.02rem;
  font-weight: 600;
  text-decoration: none; }

#anouncement {
  background-image: linear-gradient(-131deg, #F9637C 0%, #FF7933 100%);
  position: absolute;
  top: 0;
  width: 100%;
  display: block;
  left: 0;
  padding: 4px 4px;
  text-align: center; }

#anouncement p {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  color: white; }

#anouncement a {
  color: #4e1604;
  letter-spacing: 0.01rem; }

.fourofow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50vh; }

.current_articles {
  font-size: 20px;
  line-height: 30px;
  list-style: none;
  padding-left: 0;
  list-style: initial;
  color: #3e4c59; }

.current_articles a {
  text-decoration: none; }
